body {background: rgba(255,255,0,0.5);}

.button {box-shadow: 5px 5px 15px rgba(122, 162, 168, 0.25); transition: 0.3s;}
.button:hover {transform: scale(1.05);}
.button:active {transform: scale(0.98) translate(0px, 3px);}

.hidden {display: none;}

#wait {
	z-index: 10;
	width: 15%;
	position: fixed;
	display: none;
	top: 35%;
	left: 42.5%;
	background-color: rgba(144, 255, 233, 0.55);
	border-radius: 10px;
	box-shadow: 5px 5px 15px rgba(122, 162, 168, 0.25);
}

.gradientCommon {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	min-height: 100%;
	min-width: 100%;
	
	z-index: -1;
}

#gradient01 {
    /* For browsers that do not support gradients */
    background: rgba(0,255,10,0.5);
    
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(rgba(0,255,10,0.5) 50%, rgba(255,255,0,0.5) 100%);
    
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(rgba(0,255,10,0.5) 50%, rgba(255,255,0,0.5) 100%);
    
    /* For Firefox 3.6 to 15 */
    background: -moz-linear-gradient(rgba(0,255,10,0.5) 50%, rgba(255,255,0,0.5) 100%);
    
    /* Standard syntax (must be last) */
    background: linear-gradient(rgba(0,255,10,0.5) 50%, rgba(255,255,0,0.5) 100%);
}

#gradient02 {
	background: red;
	background: -webkit-linear-gradient(left top, red, yellow);
	background: -o-linear-gradient(bottom right, red, yellow);
	background: -moz-linear-gradient(bottom right, red, yellow);
	background: linear-gradient(to bottom right, red, yellow);
}



/*----------------------------------- Body Sections -----------------------------------*/

#upperBody {}

#lowerBody {padding: 5%;}


.img-circle {
	cursor: pointer;
	
	margin: 3% 3% 2% 5%;
	padding: 10px;
    border-radius: 150px;
    height: 175px;
    
    background: white;
    border: 2px solid yellow;
}


.section {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	
	font-size: 25px;
	
	margin: 0 0 10px 10px;
	width: 300px;
	line-height: 125px;
    height: 125px;
	
	background: white;
    border: 2px solid yellow;
}


/*----------------------------------- Content -----------------------------------*/

.content {
	position: fixed;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	body {overflow-y: hidden;}
	z-index: 5;
	
	top: 3%;
	bottom: 3%;
	right: 3%;
	left: 3%;
	
	padding: 3%;
	
	border-radius: 10px 10px 10px 10px;
	background: white;
	box-shadow: 5px 5px 15px rgba(122, 162, 168, 0.25);
	
	
	animation-name: appearance;
    animation-duration: .3s;
    animation-iteration-count: 1;
}

@keyframes appearance {
	from {opacity: 0;transform: scale(0.1);}
    to {opacity: 1;transform: scale(1);}
}

.closeSection {
	cursor: pointer;
	position: fixed;
	
	top: 5%;
	right: 5%;
	width: 5%; 
	
	background: white;
	padding: .3%;
	border-radius: 5px;
	border: 1px yellow solid; 
	
	z-index: 6;
	
	animation-name: appearance_closeSection;
    animation-duration: .1s;
    animation-delay: .3s;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
}

@keyframes appearance_closeSection {
	from {opacity: 0; transform: scale(0.8);}
    to {opacity: 1; transform: scale(1);}
}

/*----------------------------------- Optimisations -----------------------------------*/

@media screen and (max-width: 1000px) {}
