body {
	background-color: rgba(0, 255, 255, 0.05);
	padding: 1%;
	font-family: 'Playfair Display', serif;
	font-size: 90%;
}

.backgroundPicture {
	background-image: url(files/Enlight3.jpg);
	background-size: 1000px 1px; 
	background-position: center center;
	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	z-index: -1;
}

a:link { color: rgba(238, 46, 100, 1); text-decoration: none; }
a:visited { color: green; text-decoration: none; }
a:hover { color: hotpink; text-decoration: underline; }
a:active { color: green; text-decoration: underline; }


/*----------------------------------- Main Page -----------------------------------*/

.row {
	z-index: 1;
	display: flex; /* equal height of the children */
	width: 82%;
	margin-left: 18%;
}

.col { flex: 1; /* additionally, equal width */ }


/*---- Block of Profile Picture ----*/
.profilePicture_block {
	z-index: 2;
	position: absolute;
	vertical-align: top;
	width: 15%;
	
	border-style: solid solid hidden solid;
	background-color: white;
	border-radius: 10px 10px 0px 0px;
	padding: 1%;
	//box-shadow: 5px 5px 15px rgba(122, 162, 168, 0.25);
}

#profilePicture {
	width: 100%;
    z-index: 1;
}

#profileName {
	margin-top: 10%;
	font-size: 150%;
	
    z-index: 1;
}

.littlePhrase {
	margin-top: 3%;
	
	font-style: oblique;
	font-size: 90%;
}



/*---- Blocks of Info ----*/
.personalInfo_block {
	display: inline-block;
	vertical-align: top;
	
	width: 65%;
}

.personalInfo {
	z-index: 1;
	padding: 3%;
	margin: 0 10px 0 25px;
	
	border: solid;
	border-radius: 10px;
	/*background-color: rgba(161, 220, 251, 11);*/
	background-color: white;
	//box-shadow: 5px 5px 15px rgba(122, 162, 168, 0.25);
}

.personalInfo.colourExtended {
	margin-top: 10px;
	/*background-color: rgba(144, 255, 233, 1);*/
	background-color: white;
}

.header_of_blocks {
	padding: 0 0 3% 0;
	font-size: 110%;
}

.personalInfo_table {
	width: 100%;
}

table, th, td {
	padding: 1% 1% 1% 2%;
    border: 1px solid black;
    border-collapse: collapse;
}

td.main { width: 35%; }



/*---- Block of Summary Statement ----*/
.summary_block {
	z-index: 1;
	display: inline-block;
	vertical-align: top;
	
	padding: 3%;
	
	border: solid;
	border-radius: 10px;
	background-color: white;
	//box-shadow: 5px 5px 15px rgba(122, 162, 168, 0.25);
}



/*---- Menu ----*/
.menu {
	position: fixed;
	z-index: 1;
	width: 15%;
	padding: 1%;
	
	border-style: hidden solid solid solid;
	border-radius: 10px;
	background-color: white;
	//box-shadow: 5px 5px 15px rgba(122, 162, 168, 0.25);
}

ul.noMargin {
	margin: 5px 0 0 -8%;
}

li.modifications {
	padding-left: 3%;
}

/*----------------------------------- Overrides -----------------------------------*/
@media screen and (max-width: 1150px) {}

@media screen and (max-width: 850px) {}

@media screen and (max-width: 550px) {}

@media screen and (max-width: 350px) {}