#largeScreen {display: block;}
#smallScreen {display: block;}
@media screen and (min-width: 1024px) {
	#largeScreen {display: block;}
	#smallScreen {display: none;}
}
@media screen and (max-width: 1024px) {
	#largeScreen {display: none;}
	#smallScreen {display: block;}
}

body {
	background-color: rgba(0, 255, 255, 0.05);
	cursor: default;
}

a:link { color: #00b400; text-decoration: none; }
a:visited { color: #00b400; text-decoration: none; }
a:hover { color: #00de00; text-decoration: underline; }
a:active { color: #00de00; text-decoration: underline; }








/*---------------------------------------------------------------------- Lower Page ----------------------------------------------------------------------*/
.button {box-shadow: 5px 5px 15px rgba(122, 162, 168, 0.25); transition: 0.3s;}
.button:hover {transform: scale(1.05);}
.button:active {transform: scale(0.98) translate(0px, 3px);}

.hidden {display: none;}

#wait {
	z-index: 10;
	width: 15%;
	position: fixed;
	display: none;
	top: 35%;
	left: 42.5%;
	background-color: white;
	border-radius: 10px;
	
	animation-name: appearance_closeSection;
    animation-duration: .1s;
    animation-delay: .3s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
}


/*----------------------------------- Body Sections -----------------------------------*/

#upperBody {}

#lowerBody {padding: 5%;}


.img-circle {
	cursor: pointer;
	
	margin: 25px 15px 0px 50px;
	padding: 10px;
    border-radius: 150px;
    height: 150px;
    
    background: white;
    border: solid #1e627f;
}


.section {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	
	font-size: 125%;
	
	margin: 0 0 10px 10px;
	width: 30%;
	line-height: 125px;
    height: 125px;
	
	background: white;
    border: solid #1e627f;
}


/*----------------------------------- Content -----------------------------------*/

.content {
	position: fixed;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 5;
	
	top: 3%;
	bottom: 3%;
	right: 3%;
	left: 3%;
	
	padding: 3%;
	
	border-radius: 10px 10px 10px 10px;
	background: white;
	box-shadow: 5px 5px 15px rgba(122, 162, 168, 0.25);
	
	
	animation-name: appearance;
    animation-duration: .3s;
    animation-iteration-count: 1;
}

@keyframes appearance {
	from {opacity: 0;transform: scale(0.1);}
    to {opacity: 1;transform: scale(1);}
}

.closeSection {
	cursor: pointer;
	position: fixed;
	
	top: 3%;
	right: 3%;
	width: 3%;
	min-width: 35px;
	
	background: white;
	border-radius: 5px;
	border: 2px #1e627f solid; 
	box-shadow: 5px 5px 15px rgba(122, 162, 168, 0);
	
	z-index: 6;
	
	animation-name: appearance_closeSection;
    animation-duration: .1s;
    animation-delay: .3s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
}

@keyframes appearance_closeSection {
	from {opacity: 0; transform: scale(0.8);}
    to {opacity: 1; transform: scale(1);}
}

/*----------------------------------- Optimisations -----------------------------------*/
@media screen and (max-width: 850px) {
	.content {
		border-radius: 5px;
		
		top: 1.5%;
		bottom: 1.5%;
		right: 1.5%;
		left: 1.5%;
	}
	
	.closeSection {
		top: 1.5%;
		right: 1.5%;
	}
}
@media screen and (max-width: 850px) {
	.section {
		width: 45%;
		line-height: 125px;
	    height: 125px;
	}
}

@media screen and (max-height: 550px) {
	.content {
		border-radius: 0px;
		
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
	
	.closeSection {
		width: 5%;
		min-width: 35px;
	}
}

@media screen and (max-width: 550px) {
	.img-circle {
		margin: 0px 5% 10px 0px;
	    border-radius: 0px;
	    height: 125px;
	}
	
	.content {
		border-radius: 0px;
		
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
	
	.section {
		font-size: 20px;
		
		width: 90%;
		line-height: 90px;
	    height: 90px;
		
		background: white;
	}
	
	.closeSection {
		top: 0.5%;
		right: 0.5%;
	}
}

@media screen and (max-width: 350px) {
	#wait {
		top: 35%;
		left: 37.5%;
		width: 25%;
	}
	
	.img-circle {
	    height: 125px;
	}
}

















/*---------------------------------------------------------------------- Larger Page ----------------------------------------------------------------------*/


#menu_block {
	z-index: 1;
	
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 15%;
	
	border-style: none solid none solid;
	border-color: #1e627f;
	background-color: white;
	
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

#profilePicture {width: 75%;}
#myName {
	font-size: 150%;
	font-weight: bold;
}

#midMenu {
	border-color: #1e627f;
    border-width: medium;
    border-style: solid none solid none;
}

#wait_large {
	z-index: 10;
	width: 6%;
	position: relative;
	display: block;
	left: 47%;
	background-color: white;
	border-radius: 10px;
	
	animation-name: appearance_closeSection;
    animation-duration: .1s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
}

.section_large {
	text-align: center;
	cursor: pointer;
	
	width: 100%;
	line-height: 60px;
    height: 60px;
	
	background: rgba(0, 0, 255, 0.1);
    border-color: #1e627f;
    border-width: thin;
    border-style: solid none none none;
}
.section_large.colorChange_perinfo {background: rgba(255, 0, 255, 0.1);}
.section_large.colorChange_sum {background: rgba(0, 255, 255, 0.1);}
.section_large.colorChange_edu {background: rgba(0, 0, 255, 0.1);}
.section_large.colorChange_techskills {background: rgba(0, 0, 255, 0.1);}
.section_large.colorChange_workexp {background: rgba(0, 0, 255, 0.1);}
.section_large.colorChange_proj {background: rgba(0, 0, 255, 0.1);}
.section_large.colorChange_covlet {background: rgba(0, 0, 255, 0.1);}
.section_large.colorChange_perstat {background: rgba(0, 0, 255, 0.1);}
.section_large.name {
	line-height: 50px;
    height: 50px;
	
	text-align: left;
	cursor: default;
	
	border-width: medium;
	background: rgba(0, 255, 255, 0.05);
}
.section_large.summaryColor {background: rgba(0, 255, 255, 0.1);}
.section_large.additionalColor {background: rgba(255, 0, 0, 0.1);}
.section_large.downloadColor {background: rgba(255, 255, 0, 0.1);}

.section.summaryColor {background: rgba(0, 255, 255, 0.2);}
.section.cvColor {background: rgba(0, 0, 255, 0.2);}
.section.additionalColor {background: rgba(255, 0, 0, 0.2);}
.section.downloadColor {background: rgba(255, 255, 0, 0.2);}

/*----------------------------------- Content -----------------------------------*/
.content_large {
	z-index: 1;
	
	margin-top: 5px;
	margin-left: 16%;
	padding: 2% 4% 2% 4%;
	width: 75%;
	
	background-color: white;
	border: solid #1e627f;
	border-radius: 5px;
	box-shadow: 0px 5px 15px rgba(122, 162, 168, 0.75);
}



/*----------------------------------- Optimisations -----------------------------------*/
@media screen and (min-height: 1000px) {
	.section_large {
		line-height: 75px;
	    height: 75px;
	}
}

@media screen and (min-width: 1600px) {
	#profilePicture {width: 60%;}
	#myName {font-size: 175%;}
	#menu_block {width: 9%;}
	.content_large {
		margin-top: 5px;
		margin-left: 10%;
		padding: 2% 4% 2% 4%;
		width: 81%;
	}
}

@media screen and (max-width: 1000px) {
	#myName {font-size: 125%;}
}